@import 'mixins';

nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	list-style: none;
	background: lightgreen;

	%nav-link {
		@include hover {
			background: green;
			color: white;
		}

		background: lightgreen;
	}

	a {
		@extend %nav-link;
		padding: 4px 10px;
	}

	> * {
		@extend %nav-link;
		border: 1px solid transparent;
		text-align: center;
		padding: 2px 5px;
		flex-grow: 1;
	}

	> li {
		position: relative;
		cursor: pointer;

		a {
			display: block;
			height: 100%;
			width: 100%;
		}

		> ul {
			display: none;
			padding: 0;
			margin: 0;
			min-width: 100%;
			list-style: none;
			position: absolute;
			left: 0;
			top: 100%;
			background: inherit;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: stretch;
			text-align: left;
		}

		&:hover,
		&.expand {
			border-color: black;

			> ul {
				display: flex;
				border: 1px solid black;
				border-top: 0 none;
			}
		}
	}
}
