* {
	box-sizing: border-box;
}
:root {
	font-family: "Trebuchet MS", "Open Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 12pt;
}
html,
body {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 100%;
}
body {
	width: 1200px;
	max-width: 97%;
	border: solid black;
	border-width: 0 1px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;

	~ * {
		display: none;
	}
}

main {
	margin: 0;
	padding: 0;
	flex-grow: 1;

	> * {
		$padding: 1rem;
		padding-right: $padding;
		padding-left: $padding;
	}
}

body > footer ~ * {
	display: none;
}

h1 {
	text-align: center;
	margin-top: 0;
}

a:link,
a:visited {
	color: blue;
}
a:link:active,
a:link:focus,
a:link:hover {
	text-decoration: underline;
}
