[ng-view='pageD3Almanac'] {
	* {
		backface-visibility: visible;
		transform-style: preserve-3d;
		transform-origin: center 1350px;
	}

	svg {
		margin: 0 auto;
		border: 1px solid black;
	}

	circle#terra {
		fill: forestgreen;
	}

	path {
		fill: none;
		stroke: black;
		stroke-width: 5px;
		stroke-dasharray: 10, 10;
		transform: rotateY(80deg);

		&.lat {
			stroke-width: 1px;
			stroke-dasharray: none;
		}

		&.surface-path {
			stroke: black;
			stroke-width: 4px;
			stroke-dasharray: 20, 30;
		}

		&.moon {
			transform: rotateX(5.14deg) rotateY(80deg);
			// animation-name: moon;
			animation-duration: 10s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}

		@keyframes moon {
			from {
				transform: rotateZ(5.14deg) rotateX(0deg) rotateY(80deg);
			}

			to {
				transform: rotateZ(5.14deg) rotateX(360deg) rotateY(80deg);
			}
		}

	}

	g.paths {
	}
}
