[ng-view='pageD3Almanac'] {
	* {
		backface-visibility: visible;
		transform-style: preserve-3d;
		transform-origin: center 1350px;
	}

	svg {
		margin: 0 auto;
		border: 1px solid black;
	}

	circle#terra {
		fill: forestgreen;
	}

	.path {
		fill: none;
		stroke: black;
		stroke-width: 5px;
		stroke-dasharray: 10, 10;
		transform: rotateY(80deg);
	}
}
