nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	list-style: none;
	margin: 0 1rem;

	> * {
		flex-grow: 1;
	}

	> li {

		> span {
			cursor: pointer;
		}

		> ul {
			display: none;
		}

		&:hover > ul {
			display: block;
		}
	}
}
