* {
  box-sizing: border-box;
}

:root {
  font-family: "Trebuchet MS", "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body > h1 {
  margin-top: 0;
  text-align: center;
}

svg {
  display: block;
  width: 100%;
  height: 87%;
  min-height: 500px;
}

circle {
  transition: all 1s;
  fill: lightgrey;
}

path.link,
line {
  stroke-width: 2px;
  stroke: black;
  fill: none;
}

g.line {

  text {
    transition: all 500ms;
    opacity: 0;
  }

  line {
    display: none;
  }

  path {
    stroke-width: 5px;
    stroke: black;
    fill: none;
  }

  &.regional path ~ text,
  &.express path ~ text,
  &.local path ~ text {
    opacity: 1;
  }

  &:hover path ~ text {
    opacity: 1;
  }

  &.shuttle path {
    stroke: #B1DDD3;
  }

  &.local path {
    stroke-width:5px;
    stroke: #007954;
  }

  &.express path {
    //stroke-width: 2px;
    stroke: #E41057;
  }

  &.regional path {
    stroke-width: 4px;
    stroke: #E41057;
  }

  &.blue path {
    stroke: #056CB7;
    stroke: blue;
  }

  &.gold path {
    stroke: #FFD235;
    stroke: gold;
  }

  &.silver path {
    stroke: silver;
  }

  &.red path {
    stroke: red;
  }

  &.lockwood-line path {
    stroke: #00A1DE;
  }

  &.orange path {
    stroke: orange;
  }

  &.green path {
    stroke: green;
  }

  &.g-line path {
    stroke: #6CBE45;
  }

  &.south-feeder path {
    stroke: #00A1DE;
  }

  &.arrowood path {
    stroke: #B933AD;
  }

  &.tryon path {
    stroke: #B933AD;
  }

  &.south-blvd path {
    stroke: #006983;
  }

  &.south-crosstown path {
    stroke: #1BAC6E;
  }
}


g.node, g.node * {
  cursor: default;
}

g.node circle {
  cursor: -webkit-grab;
  cursor: grab;
}

g.node.dragging circle {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.menu > * {
  display: block;
  margin: 1em;
}
